aiodns>=3.2.0
aiofiles>=24.1.0
aiohttp>=3.10.11
alive_progress>=3.1.4
appdirs>=1.4.4
arsenic>=21.8
beautifulsoup4>=4.11.1
colorama>=0.4.6
fake_useragent>=1.5.1
httpx>=0.27.0
pyjarm>=0.0.5
Requests>=2.32.3
rich>=13.7.1
setuptools>=68.1.2
structlog>=20.2.0
urllib3>=1.26.18
uvloop>=0.19.0
